@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz@8..144&display=swap");

:root {

  //Colors for all:
  --Grey: #f6f3f3;
  --Snow: #ffffff;
  --Black: #000000;
  --Red: #c52525;
  --BlueButton:#007BFF;
  --BlueSky:#0056b3;


  //Fonts for all
  --logoFont: "Righteous", cursive;
  --FontRoboto: "Roboto Flex", sans-serif;

  
}